@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Colour Pallete:
From: https://colorhunt.co/palette/00354500454a3c6562ed6363 */

:root {
    --color-primary-dark: #00454A;
    --color-primary-light: #3C6562;
    --color-secondary: #003545;
    --color-highlight: #ED6363;
    --color-highlight-raise: #b94c4c;
    --color-text-light: #ededed;
}

/* apply 0 margin to all page elements unless otherwise stated */
* {
    margin: 0;
}

/* General Styles */

body {
    font-family: 'Rubik', sans-serif;
    color: var(--color-text-light);
}

section {
    padding: 5vw 10vw 5vw 10vw;
}

h1,
h2 {
    font-family: 'Arvo', serif;
    font-weight: 400;
    letter-spacing: .15rem;
}

p {
    font-size: 1.4rem;
    letter-spacing: .02rem;
    line-height: 2rem;
    color: #202020
}

/* classes for section titles and text */

.title-wrapper {
    margin: 2rem 0 2rem 0;
}

.text-wrapper {
    margin-bottom: 2rem;
}

/*class to increase font weight */
.heavy-text {
    font-weight: 600;
}

.accent-text {
    color: var(--color-highlight);
}

/* flex class */

.flex {
    display: flex;
}

/* buttons */

.button {
    background-color: transparent;
    padding: .8rem;
    border: .15rem solid var(--color-text-light);
    border-radius: .5rem;
    font-family: 'Rubik' sans-serif;
    letter-spacing: .05rem;
    color: var(--color-text-light);
    font-size: 1.2rem;
    /* transition to return to button default state after hover */
    transition: 0.2s ease-out;
    width: 100%;
    max-width: 200px;
}

.button-accent {
    background-color: var(--color-highlight);
    border: .15rem solid var(--color-highlight);
}

button:hover {
    background-color: var(--color-text-light);
    color: var(--color-secondary);
    border: .15rem solid var(--color-text-light);
    /* transition to smooth into highlight on hover */
    transition: 0.2s ease-in;
}

/* Navigation */

nav {
    position: sticky;
    top: 0;
    /* z-index at 100 to ensure appears over other page content */
    z-index: 100;
    background-color: var(--color-secondary);
    padding: 24px 48px;
    /* wrap child divs along row */
    flex-wrap: wrap;
    justify-content: space-between;
}

#nav-logo-container,
#nav-menu-icon-container {
    color: var(--color-text-light);
    flex: 1 0 50%;
    align-content: center;
}

#nav-menu-icon-container {
    font-size: 3rem;
    justify-items: right;
}

#nav-links-container {
    justify-content: center;
    flex-basis: 100%;
    display: none;
}

#nav-links {
    list-style-type: none;
    padding: 40px 0;
    text-align: center;
    font-size: 1.2rem;
    line-height: 3.6rem;
}

/* Main Styles */

/* Hero */

#hero {
    /* calculate height of section minus navbar */
    height: calc(100vh - 104.8px);
    /* backup bg colour if browser can't support gradient */
    background-color: var(--color-primary-light);
    /* create gradient background from root colours */
    background: linear-gradient(60deg, var(--color-primary-dark), var(--color-primary-light));
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    padding: 0 5vw 0 10vw;
    overflow: hidden;
}

#hero-main-title {
    flex-flow: column wrap;
    justify-content: center;
    min-height: 80vh;
    flex: 1;
}

/* add space above text and buttons in hero */

#hero-button-wrapper,
#hero-text-wrapper {
    margin-top: 40px;
}

/* add space between buttons in hero*/

#hero-button-wrapper .button {
    margin-right: 1.5rem
}

#hero-title {
    font-size: 7vh;
}

/* About */

#about {
    flex-flow: row wrap;
    padding: 104.8px 5vh 5vh;
    align-items: center;
    justify-content: center;
}

#about-image-wrapper {
    padding-top: 2rem;
    width: 50vh;
    height: 50vh;
    background-color: var(--color-primary-dark);
    overflow: hidden;
    filter: drop-shadow(0 0 0.5rem rgb(80, 80, 80));
}

#about-image-wrapper img {
    width: 100%;
}

#about-text {
    text-align: center;
}

#about-text > h2 {
    font-size: 5vh;
    color: var(--color-secondary);
    font-weight: 600;
    margin: .83em 0;
}

#tech-stack {
    flex-basis: 100%;
    margin: 24px 0;
    padding: 12px;
    /* background-color: red; */
}

/* set icon list styles for all about and contact sections */

#tech-stack-list,
#socials-list {
    list-style-type: none;
    padding-left: 0;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/* set class for icons */

.icon {
    padding: 6px;
    color: var(--color-secondary);
    font-size: 7vh;
    text-align: center;
}

#about-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
}

#about-buttons .button {
    border: solid var(--color-primary-dark);
    color: var(--color-primary-dark);
}

#about-buttons .button:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-text-light);
}

/* Portfolio */

#portfolio {
    flex: 1;
    flex-direction: column;
    padding: 5vw 10vw 5vw 10vw;
    overflow: hidden;
    min-height: 90vh;
    background-color: var(--color-secondary);
    align-items: center;
    text-align: center;
}

.title-wrapper > h2 {
    color: var(--color-text-light);
    font-size: 5vh;
}

.text-wrapper > p {
    color: var(--color-text-light);
}

/* portflio cards styles */

#portfolio-cards {
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    /* set spacing between cards */
    gap: 2rem;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: end;
    max-width: 380px;
    min-height: 60vh;
    background-color: var(--color-secondary);
    border-radius: 20px;
    filter: drop-shadow(0 0 0.5rem rgb(30, 30, 30));
    transition: 0.3s;
    cursor: pointer;
    overflow: hidden;
}

/* highlight card when hovered to indicate button functionality */
.card:hover {
    background-color: var(--color-primary-light);
    filter: drop-shadow(0 0 1.5rem #1e1e1e);
}

.card-img {
    align-self: center;
    position: absolute;
    height: 100%;
    /* Set image opacity to create overlay effect */
    opacity: 40%;
    z-index: -1;
}

.card-text h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

.card-text p {
    margin-top: 2rem;
    color: var(--color-text-light);
}

.card-text {
    padding: 2vh 2vw
}

/* Testimonials */

#testimonials {
    background-color: var(--color-primary-light);
    padding: 5vh 5vw;
    margin: 5vh 2vw 2vh 2vw;
    flex-direction: column;
    justify-content: center;
}

#testimonials > h2 {
    margin-bottom: 2rem;
}

#testimonials .title-wrapper
#testimonials .text-wrapper {
    text-align: center;
}

.testimonial {
    max-width: 300px;
}

.testimonial p {
    color: var(--color-text-light);
    font-size: 1rem;
}

.testimonial a {
    text-decoration: none;
    font: 600 1.2rem 'Rubik', serif;
    background-color: var(--color-text-light);
    padding: 0.5rem;
    border-radius: .2rem;
}

/* hover animation on */

.quote-name {
    text-align: right;
    line-height: 2.2rem;
}

#testimonials-container {
    gap: 2rem;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-bottom: 2.2rem;
}

/* Contact */

#contact {
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 1.2rem;
}

#contact h2,
#contact p {
    color: var(--color-primary-dark);
    text-align: center;
}

#contact-form {
    background-color: var(--color-primary-light);
    color: var(--color-text-light);
    padding: 30px;
}

#contact-form .text-input,
#contact-form .list-input {
    background-color: var(--color-text-light);
    color: #202020;
    border: 1px solid var(--color-text-light);
    border-radius: .15rem;
    width: 100%;
    padding: 0 5px;
    margin: 5px 0 25px 0;
    box-sizing: border-box;
}

#contact-form input {
    height: 40px
}

#contact-form textarea {
    height: 150px;
    resize: none;
}

#socials-list {
    width: 90vw;
}

#socials-list .icon > a {
    color: var(--color-secondary);
}

/* Footer */

/* Media Queries */

/* for screen sizes below 480px (Mobile) */

@media screen and (max-width: 480px) {

    /* reduce logo size */
    #nav-logo {
        font-size: 5vw;
    }

    /* reduce hero title type size */
    #hero-title {
        font-size: 5vh;
    }

    /* custom styling for hero buttons on mobile devices */
    #hero-button-wrapper :nth-child(1) {
        background-color: var(--color-text-light);
        color: var(--color-primary-dark);
    }

    #hero-button-wrapper :nth-child(2) {
        background-color: var(--color-highlight);
        border-color: var(--color-highlight);
    }

    #hero-button-wrapper button {
        max-width: 150px;
        max-height: 50px;
        font-size: 1rem;
        margin-top: 10px;
    }

    /* reduce about image size on smaller devices */

    #about-image-wrapper {
        width: 80vw;
        height: 80vw;
    }

    /* adjust flex basis of text stack icons to arrange into grid */
    #tech-stack-list .icon {
        flex-basis: 33%;
    }

    /* resize form button to fill form width */
    #submit-button {
        display: block;
        width: 100%;
        margin: 0;
    }
}